# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Vercel
.vercel

# Node (caso ferramentas de build/lint sejam adicionadas no futuro)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
